# File name: Programming Assignment 4

## Author: Brett Tully

### Python Version: 3

#### Class: CS-150-02

##### Semester: Fall '21

A.

# i. append() 

append() is used to add an element to the end of a list 

#### Example below

In [149]:
Car_makes = ["Ford", "Mercedes", "BMW", "MINI", "Toyota", "Range Rover"] 
Car_makes.append("Dodge")  #append()
print(Car_makes)

['Ford', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover', 'Dodge']

# ii. extend()

extend() can be used to combine certain lists or any other iterable such as tuples, lists, sets 
#### Example below

In [150]:
Car_makes = ["Ford", "Mercedes", "BMW", "MINI", "Toyota", "Range Rover"] 
Car_makes.append("Dodge")

print(Car_makes, sep='    \n      ')
Motorcycle_makes = ["Ducati", "Harley Davidson", "Indian", "Kawasaki", "Yamaha"]

Car_makes.extend(Motorcycle_makes) #extend()

print(Car_makes)

['Ford', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover', 'Dodge']
['Ford', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover', 'Dodge', 'Ducati', 'Harley Davidson', 'Indian', 'Kawasaki', 'Yamaha']

# iii. insert() 

insert() is used to insert a value in a specific place in a list
#### Example below

In [167]:
Car_makes = ["Ford", "Mercedes", "BMW", "MINI", "Toyota", "Range Rover"] #standard Car make list 
Motorcycle_makes = ["Ducati", "Harley Davidson", "Indian", "Kawasaki", "Yamaha"] 
vehicle_list = []
Car_makes.append("Dodge") #append()
print(color.BOLD + "Original List of Cars:  " + color.END, Car_makes, sep=' \n ')
print(color.BOLD + "Original List of Motorcycles:  " + color.END, Motorcycle_makes, sep=' \n ')



Car_makes.insert(0, "Subaru")    #insert()
Car_makes.extend(Motorcycle_makes) #extend()

print(color.BOLD + "New Vehicle List:  " + color.END, Car_makes, sep=' \n ')

Original List of Cars:
 ['Ford', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover', 'Dodge']
Original List of Motorcycles:
 ['Ducati', 'Harley Davidson', 'Indian', 'Kawasaki', 'Yamaha']
New Vehicle List:
 ['Subaru', 'Ford', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover', 'Dodge', 'Ducati', 'Harley Davidson', 'Indian', 'Kawasaki', 'Yamaha']

# iv. remove()

remove() function will remove the first item from a specific value

#### Example below

In [152]:
Car_makes 
Car_makes.remove("Ford")  #remove()

print("Updated Car makes:", Car_makes, sep=' \n ')

Updated Car makes:
 ['Subaru', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover', 'Dodge', 'Ducati', 'Harley Davidson', 'Indian', 'Kawasaki', 'Yamaha']

# v. count() 

count() function is used to return the number of values that appear for a specific value. 

#### Example below

In [153]:
hats = ['red', 'blue', 'orange', 'black', 'yellow', 'red']
x = hats.count('red') #count()
print(x)

2

# vi. index() 

index() is used to find the position of a specific value 

#### Example below

In [154]:
hats = ['red', 'blue', 'orange', 'black', 'yellow', 'red']
x = hats.count('red') #count()
y = hats.index('orange')
print(y)

2

# vii. pop() 

pop() function will remove an element from a specified position 

#### Example below

In [155]:
animals = ['cats', 'dogs', 'rats', 'zebras', 'lions'] 
animals.pop(2) 
print(animals)

['cats', 'dogs', 'zebras', 'lions']

# viii. sorted() 

sorted() function is used to create a new list that contains a sorted version of the original list rather than modifying the original list 

#### Example below

In [156]:
Car_makes = ["Ford", "Mercedes", "BMW", "MINI", "Toyota", "Range Rover"]
newlist = sorted(Car_makes)  # sorted()
print(newlist)

['BMW', 'Ford', 'MINI', 'Mercedes', 'Range Rover', 'Toyota']

# ix. copy() 

copy() function returns a copy of a specific dictionary 

#### Example below

In [157]:
Car_makes = ["Ford", "Mercedes", "BMW", "MINI", "Toyota", "Range Rover"]
c = Car_makes.copy() # copy()
print(newlist)
print(c)

['BMW', 'Ford', 'MINI', 'Mercedes', 'Range Rover', 'Toyota']
['Ford', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover']

# x. clear() 

clear() function will remove all elements from a dictionary 

#### Example below

In [158]:
print(c) # c is the copy of the list above
c.clear() 
print(c)

['Ford', 'Mercedes', 'BMW', 'MINI', 'Toyota', 'Range Rover']
[]

# xi. any() 

any() function will return True if iterable is true, else it returns False 

#### Example below

In [159]:
list1 = [8, 5, False]
t = any(list1) 
print(t)

### 
list3 = []
x = any(list3)
print(x)

True
False

# xii. filter() 

filter() function will filter items through a function to see if the item is accepeted or not

#### Example below

In [160]:
kids_ages = [18, 19, 20,21,22,23,24] 

def age_filter(x): 
    if x < 22: 
        return False
    else: 
        return True 
brett = filter(age_filter,kids_ages) # filter()

for x in brett: 
    print(x)

22
23
24

# xiii. list() 

list() function will create a list object 

#### Example below

In [161]:
u = list(("candy", "veggies", "meat", "bread"))
u

['candy', 'veggies', 'meat', 'bread']

# xiv. map() 

map() will apply a function on all the items of an iterator given as input 

#### Example below

In [162]:
def profit_calc(n): 
    return n-50000 
gross_income = [100000,123982,900432, 503923,23563] 
final_profit = map(profit_calc, gross_income) 
print(final_profit) 
print(list(final_profit))

<map object at 0x7fa2a8babb80>
[50000, 73982, 850432, 453923, -26437]

# b. 

# i. cmp() 

cmp() will compare elements from two different tuples 

#### Example below

In [163]:
#Since cmp() technically does not work in Python 3, I will define it myself
def cmp(a,b): 
    return (a>b) - (a<b)

tuple1 = (8)
tuple2 = (9) 
cmp(tuple1,tuple2)

-1

# ii. len() 

len() function in tuples will return the amount of elements within a tuple 

#### Example below

In [164]:
Products = ('Video games', 'Movies', 'Computers', 'Grocerys', 'Clothes')
len(Products)

5

# iii. max() 

max() function in tuples output the largest element within a tuple 

#### Example below

In [165]:
Historic_gas_cost = (2.34,4.00,1.34,3.17,3.43,3.87,3.99,4.01,4.11) 
max(Historic_gas_cost)

4.11

# iv. tuple(seq)
tuple(seq) function will convert a list of items into a tuple

#### Example below

In [166]:
list4 = ['Bed', 'Couch', 'Desk', 'Closet', 'Nightstand', 'lamp']
tuple5 = list4.tuple()
print(list4) 

#Not sure what what I am doing wrong with this one. I can not seem to get it to work properly

AttributeError: 'list' object has no attribute 'tuple'